[submodule "scala"]
	path = scala
	url = https://github.com/scala/scala
[submodule "akka"]
	path = akka
	url = https://github.com/akka/akka
[submodule "scala-js"]
	path = scala-js
	url = https://github.com/scala-js/scala-js
[submodule "scalaz"]
	path = scalaz
	url = https://github.com/scalaz/scalaz
[submodule "shapeless"]
	path = shapeless
	url = https://github.com/milessabin/shapeless
[submodule "framework"]
	path = framework
	url = https://github.com/lift/framework
[submodule "playframework"]
	path = playframework
	url = https://github.com/playframework/playframework
