name: ci

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test-js:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - name: Run tests
        run: ./mill -i __.js.__.test
  test-native:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - name: Run tests
        run: ./mill -i __.native.__.test
  test-jvm:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - name: Run tests
        run: ./mill -i __.jvm.__.test
  check-binary-compatibility:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6
      - name: Check Binary Compatibility
        run: ./mill -i __.mimaReportBinaryIssues

  publish-sonatype:
    if: github.repository == 'com-lihaoyi/fastparse' && contains(github.ref, 'refs/tags/')
    needs:
      - test-jvm
      - test-js
      - test-native
    runs-on: ubuntu-latest
    env:
      MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MILL_PGP_SECRET_BASE64: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      MILL_PGP_PASSPHRASE: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"

    steps:
      - uses: actions/checkout@v3
      - name: Publish to Maven Central
        run: ./mill -i mill.scalalib.SonatypeCentralPublishModule/

      - name: Create GitHub Release
        id: create_gh_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
